.splash {
 p{
    margin: 0;
    padding: 0;
 }   
 .playList{
a{
    span {
        margin-top: 10px;
    }
    p{
        margin-top: 5px;
        color: gray;
        font-size: 17px;
    }
}
 }
 .list-playlists {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--md-source);
    padding: 12px;
    border-radius: 3px;
    padding-left: 25px;
    padding-right: 25px;
    transition: .4s;
    cursor: pointer;
    .icon{
    color: white;

    }
    &:hover{
        // opacity: .7;
        background-color: var(--md-source);
        .icon{
            color: white;
        }
        p{
            color: white;
        }
    }
    p {
        color: black;
        font-size: 18px;
        font-weight: 500;
    }
 }
}